$bg-primary: #f0f0ed;
$white: #fff;
$black: #000;

// Main About Section
.about__hero {
    overflow: hidden;
    // background-color: $bg-primary;
    // background: $bg-primary;

    // color: $white;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    h1{

    }
}

body{
    background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
}

.about__content {
    // display: flex;
    // align-items: center;
    // width: 100%;

    // width: 300%;

    // display:flex;
    // width: 400%;

    > *{
        // min-width: 100vw;

        // max-width: calc(100dvw - 10%);
        // min-width: 100dvw;
        // flex: 0 0 100%;
        // margin: 0 auto;
        // padding: 1rem;
        // width: 100%;
    }

    &__main {
        // font-size: 12vw;
        // font-weight: 700;

        padding: 1rem;
        height: 100dvh;
        min-width: 100%;

        display: flex;
        // flex: 0 0 100vw;
        align-items: center;
        justify-content: center;

        h1{
            -webkit-perspective: 400px;
            perspective: 400px;
            -webkit-perspective-origin: 50% 100%;
            perspective-origin: 50% 100%;
            -webkit-transform: perspective(608px) perspective(549px);
            transform: perspective(608px) perspective(549px);
            -webkit-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;

            span{
                display: inline-block;

                // padding-right: 1rem;

                &:last-child{
                    padding-right: 0;
                }
            }
        }

    }
    
    @media (min-width: 767px) {
    
        &__main {
            h1{
                font-size: 14vw;
            }
    
        }
        
    }
}



.about__content-wrapper {
    
    .word {
        // padding: 0 2.5rem;
        padding: 0 .5rem;
    }
    
    .char {
        display: inline-block;
        line-height: 1;
    }
}